---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Principal Frontend Engineer",
    company: "TeHacemos",
    description:
      "Trabajo actualmente como desarrollador frontend en TeHacemos, una empresa dedicada a la creación de Software. Me encargo de diseñar y desarrollar interfaces de usuario utilizando tecnologías modernas como Astro, React y Tailwind CSS.",
    link: "https://te-hacemos.com",
  },
  {
    date: "Septiembre 2024",
    title: "Full Stack Engineer",
    company: "InfoCtn",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo del sistema del Colegio Tecnico Nacional de Encarnacion.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
