---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import MailIcon from "@/components/icons/Mail.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <a
       href="https://wa.me/595982473466" target="_blank" rel="noopener noreferrer"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola!, soy Mathi
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +3 años de experiencia. <strong
      >Full Stack enfocado en el Frontend.</strong
    > Vivo en Itapúa, Paraguay ᴾʸ. Especializado en el desarrollo de aplicaciones web
    únicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://wa.me/595982473466" target="_blank" rel="noopener noreferrer">
    <MailIcon class="size-4" />
    Contactame
  </SocialPill>
    <SocialPill href="https://github.com/Mathias-Ezler">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
